<html>
  <head>
    <meta charset="UTF-8">
    <title>Indexium</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <h2>Индекс благополучности городского района</h2>

    <p>
      <b> Индекс благополучности городского района </b> — инструмент для численной оценки качества материальной среды
      городских районов, позволяющий использовать результаты оценки для определения их текущего состояния, конкурентных
      преимуществ, ограничений, препятствующих развитию, и актуальных проблем.
    </p>

    <h2>Методика формирования индекса</h2>
    <h3>Критерии оценки</h3>
    <ul>
      <li>Безопасность</li>
      <li>Медицинское обслуживание</li>
      <li>Жилищные условия</li>
      <li>Социально-бытовая инфраструктура</li>
      <li>Транспортная доступность</li>
      <li>Экологическая обстановка</li>
      <li>Экологическая обстановка</li>
      <li>Инклюзивная среда</li>
    </ul>
    <h3>Расчет индекса</h3>
    <img src="http://latex.codecogs.com/gif.latex?{C_{k}}=\frac{\sum_{k=1}^m\frac{Index_{k}-Index^{min}}{Index^{max}-Index^{min}}}{m}" alt="Текст">
  </body>
</html>
